@media screen and (min-width: 700px){
    .container{
        max-width: 1200px;
     }
    .page-header{
        height: 730px;
        background-image:url(../images/table/1x/background-tab@1x.jpg);
        background-size: 1200px 729px;
    }
    @media (min-resolution: 2dppx) {
        .page-header{
            background-image:url(../images/table/2x/background-tab@2x.jpg);
        }
    }
    @media (min-resolution: 3dppx) {
        .page-header{
            background-image:url(../images/table/3x/background-tab@3x.jpg);
        }
    }
    .main-logo-wrap{
         left: 6%;
    }
    .navigation{
        min-height: 110px;
        margin-bottom: 0px;
    }
    .navigation__list{
        top: 110px;
        width: 100%;
    }
    .burger-wrap{
        top: 45px;
        right: 40px;
    }
    .page-header__iphone-hand{
        position: absolute;
        top: 185px;
        left: 50%;
        height: 545px;
        width: 700px;
        margin-left: -350px;
    }
    .first-row{
        position: relative;
        width: 300px;
        margin: 0;
        margin-top: 100px;
        margin-left: 6%;
    }
    .first-row__title{
        width: 180px;
        position: static;
        margin: 0 auto;
        margin-bottom: 35px;
        text-align: center;
        font-size: 40px;
        line-height: 42px;
    }
    .first-row__download-link{
        margin: 0;
        margin-left: 0%;
        margin-right: 30px;
        margin-bottom: 35px;
    }
    .first-row__small-text{
        margin: 0;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 35px;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 18px;
    }

    .second-row{
        height: auto;
        padding-top: 55px;
    }

    .second-row-wrap{
        margin-bottom: 55px;
        background-image:  url(../images/table/1x/second-row-bg2-table@1x.png);
        background-size: 1200px 634px;
    }
    @media (min-resolution: 2dppx) {
        .second-row-wrap{
            background-image:  url(../images/table/2x/second-row-bg2-table@2x.png);
        }
    }
    @media (min-resolution: 3dppx) {
        .second-row-wrap{
            background-image:  url(../images/table/3x/second-row-bg2-table@3x.png);
        }
    }
    .second-row__title{
        margin: 0;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .second-row__title-second{
        width: 350px;
        margin: 0 auto;
        margin-bottom: 45px;
        font-size: 40px;
        line-height: 42px;
    }
    .our-offers-img-wrap{
        width: 700px;
        margin: 0 auto;
    }
    .our-offers-wrap{
        float: right;
        width: 310px;
        margin-right: 40px;
        padding-top: 90px;
    }

    .our-offers-first{
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .our-offers-second{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .our-offers-third{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .our-offers-third__text{
        margin-bottom: 0px;
    }

    .second-row__phone-img{
        display: block;
        margin: 0;
        margin-left: 40px;
    }

    .timer{
        display: block;
        width: 625px;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    .timer__img{
        float: left;
        height: 300px;
    }
    .timer__titel{
        float: left;
        width: 170px;
        margin-left: 8%;
        margin-bottom: 15px;
        text-align: left;
        font-size: 30px;
        font-weight: 700;
    }
    .timer__text{
        float: left;
        width: 310px;
        margin-left: 8%;
        margin-bottom: 15px;
        text-align: left;
        color: #283645;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }
    .timer__link{
        float: left;
        margin-left: 8%;
        color: #d22856;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }
    .timer__link:hover{
        color: #283645;
    }

    .reviews{
        height: 630px;
        margin: 0;
        padding-top: 0px;
        background-image: url(../images/table/1x/reviews-tab@1x.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto ;
    }
    .gallery-reviews{
        position: relative;
        width: 620px;
        margin-bottom: 100px;
    }
    .gallery-reviews__name{
        position: absolute;
        left: 50%;
        top: 115px;
        width: 170px;
        margin: 0;
        margin-left: -85px;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
    }
    .gallery-reviews__name span{
        display: block;
        margin: 0;
        padding: 0;
        color: #283645;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
    }
    .gallery-reviews__text{
        margin: 0;
        margin-bottom: 130px;
        padding: 0;
        color: #283645;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .reviews__table-wrap{
        display: block;
        width: 622px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .reviews__table{
        width: 620px;
        border-collapse: collapse;
    }
    .reviews__tr-other{

    }
    .reviews__td-other{
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        background-color: #283645;
        border: 2px solid #f2f2f2;
    }
    .reviews__td-other:first-child{
        background-color: transparent;
        border: none;
     }
    .reviews__td-other:nth-child(2){
        background-image: url(../images/table/1x/hit-tab@1x.png);
        background-repeat: no-repeat;
        border-top-left-radius: 8px;
    }
    .reviews__td-other:last-child{
        border-top-right-radius: 8px;
    }
    .reviews__td-other span{
        display: block;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }

    .reviews__tr{

    }
    .reviews__td{
        width: 150px;
        margin: 0;
        padding: 0;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #283645;
        font-size: 14px;
        line-height: 30px;
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
    }
    .reviews__td:nth-child(2){
        background-image: url(../images/svg/yes.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .reviews__td:nth-child(3){
        background-image: url(../images/svg/yes.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .reviews__td:nth-child(4){
        background-image: url(../images/svg/no.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .contact{
        padding: 0;
    }
    .contact-wrap{
        margin-left: -350px;
        padding: 0;
        padding-top: 50px;
        width: 700px;
        height: 475px;
        background-image: url(../images/table/1x/contact-bg-tab@1x.png);
        background-size: 700px 475px;
    }
    @media (min-resolution: 2dppx) {
        .contact-wrap{
            background-image: url(../images/table/2x/contact-bg-tab@2x.png);
        }
    }
    @media (min-resolution: 3dppx) {
        .contact-wrap{
            background-image: url(../images/table/3x/contact-bg-tab@3x.png);
        }
    }
    .contact__title{
        width: 370px;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
        color: #283645;
        font-size: 40px;
        font-weight: 300;
    }
    .contact-all-wrap{
        width: 500px;
        margin: 0 auto;
        
    }
    .call-to-me{
        float: left;
        margin: 0;
        margin-bottom: 45px;

    }
    .write-to-me{
        float: right;
        margin-bottom: 45px;
    }
    .go-to-me{
        clear: both;
        margin-bottom: 0px;;
    }

    .page-footer{
        display: block;
        min-height: 95px;
    }
    .page-footer__logo{
        float: left;
        margin-left: 6%;
    }
    .social{
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }
    .social__list{
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style: none;
    }
    .social__item{
        display: inline-block;
        margin: 0;
        margin-left: 12px;
        padding: 0;
        font-size: 14px;
    }
    .social__link{
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        vertical-align: baseline;
        font-size: 14px;
        text-indent: -999999px;
        background-color: #ffffff;
        border: 3px solid #eaebed;
        border-radius: 50%;
    }
    .tw{
        background-image: url(../images/svg/twitter.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .fb{
        background-image: url(../images/svg/facebook.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .youtube{
        background-image: url(../images/svg/youtube.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .tw:hover{
        border: 3px solid #283645
    }
    .fb:hover{
       border: 3px solid #283645;
    }
    .youtube:hover{
       border: 3px solid #283645;
    }
    .copyright{
        float: right;
        margin-right: 6%;
        margin-top: 15px;
        text-align: center;
        color: #283645;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
    .copyright span{
        margin: 0;
        padding: 15px 55px;
        background: url(../images/svg/glukhanko.svg)  15px center no-repeat, url(../images/svg/htmlacademy.svg)  90px center no-repeat;
    }




}


